@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* -------------------------------------Colours */

/* -------------------------------------Special Styling */

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#fff,#f2feff);
}

/* Added to prevent the problems of elements oververflowing horizontally on mobile devices */
.container-fluid {
    padding: 15px;
    overflow-x: hidden;
}

/* -------------------------------------HEADER SECTION */
/* -------------------------------------Navbar */


/* -------------------------------------Navbar */


/* -------------------------------------MAIN BODY STYLING */
/* -------------------------------------Callout */



/* -------------------------------------Card Deck */

.card-styling {
    max-width: 30rem;
}

/* -------------------------------------Testimonials Carousel */

.testimonial-carousel {
  background-color: transparent;
  background: url('../images/above-the-clouds.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1.1rem;
  min-height: 200px;
  padding: 20px;
}

.testimonial-carousel p {
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 3px #000000;
}

.testimonial-carousel i {
  font-size: 1.5rem;
  color: #fff;
}

.testimonial-carousel p span {
  font-size: 0.9rem;
  font-weight: 600;
  color: white;

/* -------------------------------------FOOTER SECTION */

/* -------------------------------------Media Queries */