@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Arapey&display=swap');

/* -------------------------------------Special Styling */

body {
    font-family: 'Roboto', sans-serif;
    color: #444;
    /*background-image: linear-gradient(#fff,#777);*/
}

/* Added to prevent the problems of elements oververflowing horizontally on mobile devices */
.container-fluid {
    padding: 15px;
    overflow-x: hidden;
}

/* -------------------------------------HEADER SECTION */
/* -------------------------------------Navbar */


/* -------------------------------------MAIN BODY STYLING */
/* -------------------------------------Homepage Callout Section */

.callout-container {
/* Background image css code copied and adapted from the Code Institute Whiskey Drop project*/
    height: 100vh;
    background-color: transparent;
    background: url('../images/aircraft-hangar-lg.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
/* end of copied Code Institute css code from the Whiskey Drop project */
    font-size: 1.1rem;
    min-height: 200px;
    padding: 20px;
}

/* Opaque Overlay css code copied from the Code Institute Whiskey Drop project*/ 
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
/* end of copied Code Institute css code from the Whiskey Drop project */

/* -------------------------------------Hero Image Containers */

.our-services-hero-container {
    /* Background image css code copied and adapted from the Code Institute Whiskey Drop project*/
    height:700px;
    width: 100%;
    background: url('../images/aircraft-engine.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* end of copied Code Institute css code from the Whiskey Drop project */
}

.about-us-hero-container {
    /* Background image css code copied and adapted from the Code Institute Whiskey Drop project*/
    height:700px;
    width: 100%;
    background: url('../images/aircraft-hangar-front-web.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* end of copied Code Institute css code from the Whiskey Drop project */
}

.contact-us-hero-container {
    height:700px;
    width: 100%;
    background: url('../images/aircraft-taxi-night.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------Jumbotron */

.jumbotron {
    background: none;
}

.jumbotron h1 {
    font-family: 'Arapey', serif;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 4px #000000;
}

.jumbotron p {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 4px #000000;
}

/* -------------------------------------Buttons */

.pill-btn {
    color: #444;
    font-weight: bold;
    background-color: lightBlue;
    border: 1px solid lightBlue;
    border-radius: 25px;
}

.pill-btn:hover {
    color: lightBlue;
    background-color: #444;
    border: 1px solid #444;
}

/* -------------------------------------Card Deck */

.feature-container-team {
    background-color: white;
}

.card-deck {
    justify-content: center;
}

.card-styling-team {
    max-width: 15rem;
    min-width: 15rem;
}

.card-styling-team a i {
    color: #777;
    font-size: 1.6rem;
}

.card-styling-team a i:hover {
    color: #444;
    text-decoration: underline;
}

.card-styling {
    max-width: 30rem;
    min-width: 15rem;
}

.card-img-top {
    height: 320px;
}

/* -------------------------------------Google Maps */

.embed-responsive-16by9 {
  max-height: 600px;
}

/* -------------------------------------Testimonials Carousel */

.testimonial-carousel {
/* Background image css code copied from the Code Institute Whiskey Drop project*/
    background-color: transparent;
    background: url('../images/above-the-clouds.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* /end of copied Code Institute css code from te Whiskey Drop project */
    font-size: 1.1rem;
    min-height: 200px;
    padding: 20px;
}

.testimonial-carousel p {
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 3px #000000;
}

.testimonial-carousel i {
    font-size: 1.5rem;
    color: #fff;
}

.testimonial-carousel p span {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

/* -------------------------------------Contact Us Page */

.icon-bg h2 i {
    height: 70px;
    width: 70px;
    padding: 20px 0;
    border-radius: 50%;
    background-color: lightBlue;
    text-align: center;
    margin: auto;
}

/* -------------------------------------Privacy + Terms and Conditions Page */

.privacy-header h2, .terms-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
}

/* -------------------------------------Block Dividers */

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #444;
}

.block-divider-sm {
    width: 40px;
    height: 3px;
    border: 0;
    background-color: #444;
}

/* -------------------------------------Accordion cards */

.box-shadow {
    box-shadow: 0 2px 3px rgba(0,0,0,0.13), 0 4px 7px rgba(0,0,0,0.26);
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header:hover {
    background-color: lightBlue;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn-link {
    font-weight: 400;
    color: #444;
    text-decoration: none;
}

.btn-link:hover {
    font-weight: 400;
    color: #444;
    text-decoration: underline #444;
}

/* -------------------------------------FOOTER SECTION */
/* -------------------------------------Social Media Links */

.footer-container h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.social-media ul li {
  font-size: 1.6rem;
  padding: 2%;
}

.social-media ul li a {
    color: #444;
}

.social-media ul li a:hover {
    color: lightBlue;
}

.icon-bg-sm ul li a i {
  height: 50px;
  width: 50px;
  padding: 12px 0;
  border-radius: 50%;
  background-color: lightBlue;
  text-align: center;
  margin: auto;
}

.icon-bg-sm ul li a i:hover {
    background-color: #444;
}

/* -------------------------------------Media Queries */
/* -------------------------------------Responsive Design - TABLET*/

@media screen and (max-width: 943px) {
    .jumbotron h1 {
        font-family: 'Arapey', serif;
        font-size: 2.5rem;
    }
    .jumbotron p {
        font-size: 1.2rem;
    }
}

/* Apple devices do not support background-attachment: fixed; displaying background images incorrectly*/
/* These media queries are a workaround to try to fix device specific display issues rather than using */
/* background-attachment: scroll; for all devices */

/* -------------------------------------iPhone XS Max Optional */
/* -------------------------------------Portrait */

@media only screen 
    and (min-width: 414px)
    and (max-width: 414px)
    and (orientation: portrait) {
        .callout-container {
            background: url('../images/aircraft-hangar-lg.jpg') no-repeat center scroll;
            background-size: auto;
        }
        .testimonial-carousel {
            background: url('../images/above-the-clouds.jpg') no-repeat center scroll;
            background-size: auto;
    }
}

/* -------------------------------------Landscape */

  @media only screen 
    and (min-width: 896px)
    and (max-width: 896px)
    and (orientation: landscape) {
        .callout-container {
            background: url('../images/aircraft-hangar-lg.jpg') no-repeat center scroll;
            background-size: 100%
        }
        .testimonial-carousel {
            background: url('../images/above-the-clouds.jpg') no-repeat center scroll;
            background-size: 100%
        }
    }